KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=complain-and-appeal
KEYCLOAK_CLIENT_ID=nestjs-backend
KEYCLOAK_CLIENT_SECRET=lZpBSD66yMexatcjELFPdY8mzzoNSF1m
KEYCLOAK_REALM_PUBLIC_KEY=89J88JarW8FW32JuHEEcn92juIkwWNDL_DPEpUoxg28
PORT=3001